body {
    text-align: center;
    background-image: url("../images/3635.jpg");
}
.answer-option:hover{
    background-color: #d8af9e;
}

h1 {
    padding: 3rem;
    color: #2e2e2e;
}

.container {
    background-color: #EBEBEB;
}

#top-container {
    margin-top: 1.5rem;
}

#bottom-container {
    padding-bottom: 3rem;
}

.btn {
    background-color: #482511;
    color: white;
}
a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #747474;
    font-size: .75rem;
}

#interval-div, 
#question,
#answers,
#correct-answer {
    color: #2e2e2e;
}

#answers {
    padding-top: 20px;
}
